/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 75px;
	height: 75px;
}
 p {
 	font-size: 20px;
 }

.card-img-top{
	height: 150px;
	width: 150px;
}

.card-text{
	text-align: center;
}

.pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.pre-footer {
	background-color: #2C3333;
	color: white;
}